{% assign collection = collections['all'] %}

{{ collection }}

{{ collection.title }}
<ul>
  {% for val in collection.products %}
    {% if section.settings.show-soldout %}
      <li> <a  style="color:{{ settings.link_color }}" href = "{{ val.url }}">{{ val.title }}-
        {{ val.price |money }}
        {% if val.available != true %}
          ( SOLDOUT)
        {% endif %}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"checkbox",
        "id":"show-soldout",
        "label":"Show Sold out Products",
        "default":false
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}