{% assign collection = collections['all'] %}

{{ collection }}

{{ collection.title }}
<ul>
  {% for val in collection.products %}
    <li> <a href = "{{ val.url }}">{{ val.title }}-
      {{ val.price |money }}
      {% if val.available != true %}
        ( SOLDOUT)
      {% endif %}</a>
    </li>
  {% endfor %}
</ul>

